body {
	background-color: #357863;
}

.toolbox-btn {
	border: 0 none;
	margin: 2%;
}

:focus {
    outline: 0;
}

.toolbox * {
	vertical-align: middle;
}

.toolbox div {
	border: 0 none;
	margin: 0;
	height: 100%;
}

.toolbox-right {
	float: right;
	text-align: right;
	width: 50%;
}

.toolbox-text {
	color: white;
	font-size: x-large;
}

.alert-page {
	color:  #ffa0a0;
	text-align: center;
	font-size: 400%;
	margin: 10%;
}
