body {
	background-color: #235041;
}

:focus {
    outline: 0;
}

.toolbox {
	border: 0 none;
	margin: 0;
	width: 100%;
}

.toolbox * {
	vertical-align: middle;
	border: 0 none;
	margin: 0;
	height: 100%;
}

.toolbox-icon {
	margin-left: 6px;
	margin-right: 6px;
	width: 32px;
	height: 32px;
}

.toolbox-right {
	text-align: right;
	width: 100%;
}

.toolbox-text {
	color: #FAFAD2;
	font-size: large;
}

.alert-page {
	color:  #ffa0a0;
	text-align: center;
	font-size: xx-large;
	margin: 10%;
}

#meter {
	margin: 2%;
}

#meter-canvas {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0 none;
}

.meter-label {
	font-size: large;
}

#label-frozen {
	color: #00BFFF;
}

#label-fresh {
	color: #90EE90;
	float: right;
}

.result {
	text-align: center;
}

#result-value {
	color: #FAFAD2;
	font-size: 200%;
	margin: 6%;
}

#result-text {
	font-size: x-large;
	margin: 4%;
}

.info {
	font-size: large;
	text-align: center;
	margin: 2%;
}

#result-info {
	color: #FAFAD2;
}

#more-info {
	color: #EEE8AA;
}
