body {
	background-color: #357863;
}

.toolbox-btn {
	border: 0 none;
	margin: 2%;
}

:focus {
    outline: 0;
}

.toolbox * {
	vertical-align: middle;
}

.toolbox div {
	border: 0 none;
	margin: 0;
	height: 100%;
}

.toolbox-right {
	float: right;
	text-align: right;
	width: 50%;
}

.toolbox-text {
	color: white;
	font-size: x-large;
}

.alert-page {
	color:  #ffa0a0;
	text-align: center;
	font-size: xx-large;
	margin: 10%;
}

#meter {
	margin: 2%;
}

#meter-canvas {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0 none;
}

.meter-label {
	font-size: large;
}

#label-frozen {
	color: #2020ff;
}

#label-fresh {
	color: #20ff20;
	float: right;
}

#result {
	font-size: large;
	text-align: center;
	margin: 2%;
}
